.message-bar {
  width: 15%;
  float: right;
}
.message-list__header {
    background-color: #26283b;
    text-align: center;
    padding-bottom: 0.5%;
    position: relative;
    display: none;
    color: #edf1f4;
    margin-top: 3%;
}
  
.message-list__header p {
      text-align: center;
      font-family: Arvo;
      font-weight: lighter;
      transform: translateY(35%);
      font-size: 1.5rem;
}
.message-list__content {
    list-style: none;
    background-color: #edf1f4;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    display: none;
    margin: 0%;
}
  
@media (min-width: 768px) {
    .message-list__content {
      width: 100%;
      display: block;
    }
    .message-list__header {
      width: 100%;
      display: block;
    }
}
  